<table
  class="table table-striped table-hover"
  cdk-table
  [dataSource]="users"
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="drop($event)"
>
  <ng-container
    *ngFor="let column of columns; let i = index"
    [cdkColumnDef]="column"
  >
    <th cdk-header-cell *cdkHeaderCellDef cdkDrag cdkDragLockAxis="x">
      <app-sort-list-column
        [columnToSort]="column"
        [sortMode]="column === 'id' ? sortModeEnum.UP : ''"
      >
        {{ column | titlecase }}
      </app-sort-list-column>
    </th>
    <td cdk-cell *cdkCellDef="let element">{{ element[column] }}</td>
  </ng-container>

  <tr
    cdk-header-row
    *cdkHeaderRowDef="columns"
    appSortList
    (sort)="sortColumnByName($event)"
  ></tr>
  <tr cdk-row *cdkRowDef="let row; columns: columns"></tr>
</table>
